@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@400;700&family=Montserrat:wght@600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
:root {
  --price-tag-color: #2eaeeb;
  --white-color: #ffffff;
}
body {
  /* font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
}
/* ==CSS INDEX==
=> 00. REUSABLE CSS
=> 01. REUSABLE CSS
=> 02. HERO SECTION
=> 03. CATEGORIES SECTION
=> 04. FOOTER SECTION

*/
/* == 00. REUSABLE CSS== */
.bg-light-pink {
  background-color: #feeae9;
}
.section-title {
  font-family: "Caveat", cursive;
  font-size: 48px;
  border-bottom: 4px solid var(--price-tag-color);
  max-width: 130px;
}
.buy-now-btn {
  background-color: var(--price-tag-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  transition: all 0.4s ease-in;
}
.card {
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding-top: 40px;
  /* padding-bottom: 10px; */
}
.card-footer {
  background: transparent;
}
.radius-12 {
  border-radius: 12px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
/* == 01. HEADER SECTION== */

.header-section .navbar-nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
/* == 02. HERO SECTION== */
.hero-section {
  background: url("../images/bg-2.png");
  background-repeat: no-repeat;
  background-position: bottom 0% left 2%;
  background-size: 10% auto;
}
.hero-section .carousel {
  background: url("../images/bg-1.png");
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  background-size: 4% auto;
}
.hero-section .carousel-indicators li {
  background-color: var(--price-tag-color);
}
.hero-section .carousel-item {
  padding: 20px 40px;
  border-radius: 12px;
}
.hero-section .price-tag {
  color: var(--price-tag-color);
}

.hero-section .slider-buy-now-btn:hover {
  opacity: 0;
}
/* ==CATEGORIES SECTION== */
.categories-section .section-title {
  max-width: 100%;
}
.categories-section .divider {
  width: 20%;
  height: 5px;
  background-color: var(--price-tag-color);
  margin-left: auto;
  margin-right: auto;
}
.categories-section .cat {
  padding: 30px 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.categories-section .cat h3 {
  font-size: 24px;
  color: var(--price-tag-color);
  text-transform: uppercase;
  font-family: "Caveat", cursive;
}
.categories-section .cat img {
  max-width: 100px;
}
/* ==FOOTER SECTION== */
.footer-section {
  border-top: 1px solid #e8e7e7;
}

@media screen and (max-width: 769px) {
  /* ==MARGIN== */
  .mb-m-20 {
    margin-bottom: 20px;
  }
  .mb-m-40 {
    margin-bottom: 40px;
  }
  /* ==CATEGORIES SECTION== */
  .categories-section .row {
    flex-direction: column-reverse;
  }
}
